.login{
    justify-content: center;
    display: flex;
    padding: 1%;
}
.loginButtonContainer{
    text-align: center;
}
.loginButton{
    margin: 3%;
}
.card-body{
    text-align: center;
}
label{
    text-align: left;
}
.error{
    color: red;
}
