.register{
    justify-content: center;
    display: flex;
    padding: 1%;
}
.registerButtonContainer{
    text-align: center;
}
.registerButton{
    margin: 3%;
}
.success{
    text-align: center;
    margin: 10px;
}
.card-body{
    text-align: center;
}
label{
    text-align: left;
}
.error{
    color: red;
}
