.NoAuthContentContainer {
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.button {
  float: right;
  display: block;
  margin: 5px;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 0;
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.addForm {
  float: right;
  display: block;
  min-width: 20em;
  z-index: 2;
  position: relative;
}
