.header{
    background-color:black;
    width: auto;
    height: 100px;
    color: rgb(197, 197, 201);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    top: 0;
}
.list{
    list-style: none;
}
body{
    background-color: rgb(180, 174, 174);
}
.container{
    margin: 0;
}
.navButton{
    justify-content: right;
    margin: 3px;
}

.container{
    width: 100%;
}
@media (min-width: 1px){
    .container{
        max-width: 100%;
    }
}
.welcomeMsg{
    color: white;
    margin: 5px;
}
