.header{
    background-color:black;
    width: auto;
    height: 20%;
    color: rgb(197, 197, 201);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.list{
    list-style: none;
}
body{
    height:10000px;
    background-color: rgb(180, 174, 174);
}